{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src='/home/sugesh/Downloads/woman-holding-basket-vegetables-market_889227-19469.avif'>
    <style>
        img{
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.5;
            height: 830px;
            width: 100%;
            display: flex;   
     }
    </style>
</body>


</html>
    